<h1 class="header">Register with an Email or a Google Account</h1>
<div class="flex-container">
  <div>
    <div class="row">
      <form [formGroup]="registerForm">
        <mat-form-field class="form-field">
          <input matInput type="email" placeholder="Email Address" 
                  formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-field" id="password-field">
          <input matInput formControlName="password" 
                  type="password" placeholder="Password" 
                  [errorStateMatcher]="passwordMatcher">
        </mat-form-field>
        <p class="error">{{errorMessage}}</p>
        <p class="success">{{successMessage}}</p>
        <button mat-flat-button id="google-login" color="primary" type="submit" 
                (click)="tryRegister(registerForm.value)">Register</button>
      </form>
    </div>
    <div class="row">
      <button mat-flat-button color="warn" type="button" 
              (click)="tryGoogleLogin()">Register with Google</button>
    </div>
    <div class="row">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>