<h1 class="header">Login with Email or Google Account</h1>
<div class="flex-container">
  <div>
    <div class="row">
      <form [formGroup]="loginForm">
        <mat-form-field class="form-field">
          <input matInput type="email" placeholder="Email Address" 
                 formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput formControlName="password" 
                 type="password" placeholder="Password" 
                 [errorStateMatcher]="passwordMatcher">
        </mat-form-field>
        <p class="error">{{errorMessage}}</p>
        <button mat-flat-button type="submit" color="primary" 
                (click)="tryLogin(loginForm.value)">Login</button>
      </form>
    </div>
    <div class="row">
      <button mat-flat-button type="button" color="primary" 
              (click)="tryGoogleLogin()">Login with Google</button>
    </div>
    <div class="row">
      <p>No account yet? <a routerLink="/register">Create an account</a></p>
    </div>
  </div>
</div>