<mat-toolbar id="toolbar" class="toolbar-container" color="primary">
    <h2><a id="header-title" routerLink="">STM</a></h2>
    <h6 class="header-sub-title">
        <strong>Sky's the</strong> limit <br>
        when you use your <strong>minute!</strong> 
    </h6>

    <div class="spacer"></div>

    <ng-container *ngIf="userLoggedIn">
        <img class="user-image" *ngIf="userImage"
             [src]="userImage" alt="User image" routerLink="/user">
        <img class="user-image" *ngIf="!userImage"
             src="https://via.placeholder.com/400x300"  
             alt="User image" routerLink="/user">
        <button mat-button id="logout" (click)="logout()" routerLink="">Logout</button>
    </ng-container>
    <ng-container *ngIf="!userLoggedIn">
            <mat-icon aria-hidden="false" aria-label="Example heart icon">person</mat-icon>
            <button mat-button id="login" routerLink="/login">Login</button>
    </ng-container>
</mat-toolbar>
